<!doctype html>
<html lang="en">
<head>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <div id="header" class='container'></div>
  <div id="content" class='container'>Loading...</div>
  <div id="footer" class='container'></div>
  <script async src="{{ url_for('static', filename='generated/404.js') }}"></script>
</body>
</html>