<!doctype html>
<html lang="en">
<head>
  <meta name="google-signin-client_id" content="292129338715-hv2qf7rlvgq00dpjn9h7q04otkoan1fh.apps.googleusercontent.com">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>

  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/signup.css">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>
  <div id="header" class='container'></div>
  <div id="content" class='container'>Loading...</div>
  <div id="footer" class='container'></div>
  <script async src="generated/signup.js"></script>
</body>
</html>
