/*
 * Search bar
 */
.react-search {
  margin: 0;
  padding: 1em;
  font-size: 110%;
  font-weight: 200;
  line-height: 1em;
}

.react-search__input {
  color: #666;
  width: 100%;
  padding: 1em;
}

.react-search__menu {
  display: block;
  line-height: 1em;
  text-decoration: none;
  white-space: nowrap;
  padding: 0.5em;
}

.react-search__menu-items {
  list-style-type: none;
  padding: 0em;
  margin: 0em;
}

.react-search__menu-header {
  list-style-type: none;
  padding: 0.3em;
  margin: 0em;
  font-weight: bold;
  background-color: #1e1e2f;
  color: white;
}

.react-search__menu-item a:hover,
.react-search__menu-item a:visited {
  font-weight: bold;
}

.react-search__menu--open {
  visibility: visible;
  z-index: 2;
  background: #fff;
  border: 1px solid #b7b7b7;
  padding: 0px;
  position: absolute;
  min-width: 1000px;
}

.react-search__menu--hidden {
  visibility: hidden;
}

.selected {
  background-color: #ffffcc;
}

.react-search__menu-item .row-result {
  display: flex;
  list-style-type: none;
  padding: 2px;
  
  border-style: solid;
  border-width: 0.5px;
  border-color: lightgray;
}

/* Style of the 1st column in search bar */
.react-search__menu-item .row-result-abbrv {
  width: 20%;
  font-weight: bold;
  overflow: hidden;
}

/* Style of the 2nd column in search bar */
.react-search__menu-item .row-result-name {
  width: 80%;
}

/* Style of the 2nd column in search bar if it has multiple lines */
.react-search__menu-item .row-result-name .multiple-line {
  list-style-type: None;
  padding: 0px;
}

/* Style of the 2nd line in the 2nd column in search bar */
.react-search__menu-item .row-result-name .second-line {
  color: #9494b8;
  font-size: 0.8em;
}

/*
 * Graph
 */
.graph {
  /* border: 2px solid black;
  margin-bottom: 100px; */
}

.grid-stack-item {
  border: 2px solid darkblue;
}

.grid-stack {
}